@import url('https://fonts.googleapis.com/css?family=Exo+2|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2:100,300,500,700|Montserrat:100,300,500,700&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fdfdfd;
    color: #fdfdfd;
}

.row,
.container,
.container-fluid {
    padding: 0;
    margin: 0;
}

h1,
h2 {
    font-family: "Exo 2", sans-serif;
    text-align: center;
}

h2 {
    color: goldenrod;
    font-size: 2.3rem;
    letter-spacing: 0.5px;
}



/********** CUSTOM TEXT STYLINGS ETC. **********/

.mofh-branding {
    display: inline-block;
    color: goldenrod;
}



/********** CONTAINERS **********/

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.landing-container {
    height: 100vh;
    background: url('../images/art-deco-blur-dark.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(41, 39, 34, 0.75)
}

.faqmobile-container {

    width: 100%;
    background-color: rgba(41, 39, 34, 0.9);
}

.faq-wrapper {

    height: 800px;
    width: 100%;
    background-color: olive;

}

.faq-container {

    height: 800px;
    width: 100%;
    background-color: cyan;

}

.blog-wrapper {

    height: 120vh;


}

.blog-container {

    height: 120vh;


}

.contact-wrapper {

    height: 82vh;


}

.contact-container {

    height: 82vh;
    border: 0.5px solid grey;


}

.footer-container {
    height: 9vh;
    background-color: rgba(41, 39, 34, 0.9);
}



/********** SEPARATORS **********/

.separator span {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    line-height: 1;
    background: goldenrod;
}

.separator span:after {
    position: absolute;
    left: 5%;
    bottom: 4px;
    height: 1px;
    width: 80px;
    background: goldenrod;
    content: "";
    display: inline-block;
    margin-left: 20px;
}

.separator span:before {
    position: absolute;
    right: 5%;
    bottom: 4px;
    height: 1px;
    width: 80px;
    background: goldenrod;
    content: "";
    display: inline-block;
    margin-right: 20px;
}



/********** BUTTONS **********/

.btn {
    padding: 7px 5px;
    margin-top: 12px;
    margin-bottom: 5px;
    line-height: 1.7;
    min-width: 200px;
    text-transform: uppercase;
    font-size: .7rem;
    color: #fff;
    font-weight: 600;
}

.btn--cta {
    background-color: goldenrod;
}

.btn:hover {
    cursor: pointer;
}

.btn--readmore:hover {
    cursor: context-menu;
}

.contact button {
    margin-top: 3px;
}



/********** NAVBAR **********/

nav {
    width: 100%;
}

.navbar-brand {
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid;
    margin-top: 3px;
    margin-bottom: 5px;
}

.navbar-brand h3 {
    margin-bottom: 0;
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar-nav {
    text-align: right;
}

.navbar .navbar-toggler {
    border: 0;
    padding-bottom: 10px;
}

a.nav-link {
    text-transform: uppercase;
}

@media(min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 10px;
        padding-left: 10px;
    }
}



/********** LANDING SECTION **********/

.landing {
    margin-bottom: -70px;
    text-align: center;
}

.landing-header {
    font-size: 3rem;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 55px 15px 3px;
}

.landing-text {
    font-size: .9rem;
    padding-top: 20px;
    padding-left: 7%;
    padding-right: 7%;
    margin: 0 15px 23px;
}

@media(min-width: 768px) {
    .landing-header {
        font-size: 5.5rem;
        letter-spacing: 1px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media(min-width: 768px) {
    .landing-text {
        font-size: 1.5rem;
        padding-top: 40px;
    }
}



/********** ABOUT SECTION **********/

.about-image {
    height: 65vh;
}

.about-image p {
    text-align: center;
}

.about-image p img {
    margin-top: 10%;
}

.about-text {
    color: #000;
    line-height: 1.35;
}

.about-text-heading {
    text-align: center;
    color: goldenrod;
    margin-top: 20px;
}

.about-text-main {
    font-weight: 500;
    margin-top: 18px;
}

.about-text-secondary {
    font-weight: 300;
}

.about-cta {
    text-align: center;
    padding-bottom: 20px;
}

@media(min-width: 576px) {
    .about-text {
        margin-top: 35px;
    }
}



/********** FAQ SECTION **********/

.faq-heading h2,
.blog-heading h2,
.contact-heading h2 {
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

#faq-accordion {
    color: #000;
    background-color: goldenrod;
}

.card-header {
    background-color: rgba(41, 39, 34, 0.75);
    padding: 10px 15px;
}

.card-header button {
    color: goldenrod;
    text-align: left;
    margin-top: 5px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.card-header button:hover {
    text-decoration: none;
    color: goldenrod;
}

.card-body {
    font-weight: 300;
    line-height: 1.4;
}



/********** BLOG SECTION **********/

.blog {}

.blogbox {
    color: #000;
    height: 25vh;
    font-weight: 500;
    text-align: center;
}

.blogbox div {
    padding-left: 0;
    padding-right: 0;
}

.blogbox h4 {
    font-size: 1rem;
}

#blogboxOne {}

#blogboxTwo {
    background: url('../images/blogpicOne.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#blogboxThree {
    background: url('../images/blogpicTwo.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#blogboxFour {}

#blogboxFive {}

#blogboxSix {
    background: url('../images/blogpicThree.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#blogboxSeven {
    background: url('../images/blogpicFour.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#blogboxEight {}

.blogrow {
    height: 25vh;
}

.blog-opaque-overlay-one {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 39, 34, 0.66);
}

.blog-opaque-overlay-two {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(115, 87, 17, 0.45);
}

.blog-heading {
    background-color: rgba(41, 39, 34, 0.9);
    height: 20vh;
}

.blog-heading h2,
.contact-heading h2 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
}

.blog-heading p, .contact-heading p {
    font-size: .7rem;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 10px;
}



/********** CONTACT SECTION **********/

.contact-heading, .contactform {
    color: #000;
}

.contact-heading h2 {
    padding-top: 10px;
}

.contact-heading p {
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: 500;
}

.contact-cta {
    text-align: center;
    padding-bottom: 10px;
}

.form-control {
    padding: 0 6px;
}

.contactform textarea {
    padding: 8px 8px;
}



/********** FOOTER **********/

.footer-row {
    height: 9vh;
}

.social-links {
    text-align: center;
    margin: 10px 0;
}

.social-links-item {
    font-size: 1.8rem;
    
}

.list-inline-item:not(:last-child) {
    margin-right: 3rem;
}

.list-inline-item a {
    text-decoration: none;
    background-color: goldenrod;
    color: rgba(41, 39, 34, 0.75);
}

.social-links li a i {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 15px;
    font-size: 2rem;
    line-height: 1rem;
}